/* Scrollbar más estético para la tabla */
.table-responsive::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}